@model TP_PWEB.Models.Habitacoes

@{
    ViewData["Title"] = "Arrendar";
}
<br></br>
<h1>Arrendar</h1>

<div>
    <hr />
    <dl class="row">


        <dt class="col-sm-2">
            Disponivel
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Disponivel)
        </dd>
        <dt class="col-sm-2">
            Preço
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt class="col-sm-2">
            Locador
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Locador)
        </dd>
        <dt class="col-sm-2">
            Avaliação
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Avaliacao)
        </dd>
    </dl>
</div>
<div>
    <form asp-action="Arrendar" method="post">
        <input type="hidden" name="id" value="@Model.IdHabitacoes" />
        <button type="submit" class="btn btn-lg btn-outline-primary">Clique aqui para Arrendar</button>

    </form>
    <a asp-action="ResultadosDefault">   Voltar</a>
</div>
