@model TP_PWEB.Models.Habitacoes

@{
    ViewData["Title"] = "Delete";
}
<br></br>
<h1>Apagar</h1>

<h3>Tem a certeza que quer apagar?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Localização
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Localizacao)
        </dd>
        <dt class = "col-sm-2">
            Tipo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
           Preço
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt class = "col-sm-2">
            Disponível
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disponivel)
        </dd>
        <dt class="col-sm-2">
            Data Inicio Contrato
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataInicioContrato)
        </dd>
        <dt class="col-sm-2">
           Data Fim Contrato
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataFimContrato)
        </dd>
        <dt class="col-sm-2">
            Locador
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Locador)
        </dd>
        <dt class="col-sm-2">
            Avaliacao
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Avaliacao)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdHabitacoes" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
