@model IEnumerable<TP_PWEB.Models.Habitacoes>

@{
    ViewData["Title"] = "IndexHab";
}

<h1>Habitações</h1>

<p>
    <a asp-action="Create">Criar nova Habitação</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Localização
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                Preço
            </th>
            <th>
                Disponível
            </th>
            <th>
                Data Início Contrato
            </th>
            <th>
                Data Fim Contrato
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Locador)
            </th>
            <th>
                Avaliação
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Localizacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Disponivel)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataInicioContrato)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataFimContrato)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Locador)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Avaliacao)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdHabitacoes">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdHabitacoes">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdHabitacoes">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
