@model IEnumerable<TP_PWEB.Models.Habitacoes>

@{
    ViewData["Title"] = "IndexHab";
}

<h1>Habitações</h1>

<p>
    <a asp-action="Create">Criar nova Habitação</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Localizacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disponivel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Localizacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disponivel)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdHabitacoes">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdHabitacoes">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdHabitacoes">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
