@model IEnumerable<TP_PWEB.Models.Habitacoes>

@{
    ViewData["Title"] = "IndexDefault";
}
<br></br>
<h1>Habitações</h1>

<p>
    <a class="nav-link text-dark" asp-action="Filtrar">Filtrar Resultados</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Disponível
            </th>
            <th>
                
                <a href="#" class="sort-link" data-sort="asc">
                    <a asp-action="ResultadosDefault" class="text-dark" asp-route-sortOrder="@ViewData["PrecoSortParm"]">@Html.DisplayNameFor(model => model.Preco)</a>
                    @if (ViewData["PrecoSortParm"].ToString() == "preco_desc")
                    {
                        <span class="sort-icon">&#9660;</span> <!-- Seta para baixo indicando ordem decrescente -->
                    }
                    else if (ViewData["PrecoSortParm"].ToString() == "preco_asc")
                    {
                        <span class="sort-icon">&#9650;</span> <!-- Seta para cima indicando ordem crescente -->
                    }
                </a>
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Locador)
            </th>
            <th>
                
                <a href="#" class="sort-link" data-sort="asc">
                    <a asp-action="ResultadosDefault" class="text-dark" asp-route-sortOrder="@ViewData["AvaliacaoSortParm"]">@Html.DisplayNameFor(model => model.Avaliacao)</a>
                    @if (ViewData["AvaliacaoSortParm"].ToString() == "avaliacao_desc")
                    {
                        <span class="sort-icon">&#9660;</span> <!-- Seta para baixo indicando ordem decrescente -->
                    }
                    else if (ViewData["AvaliacaoSortParm"].ToString() == "avaliacao_asc")
                    {
                        <span class="sort-icon">&#9650;</span> <!-- Seta para cima indicando ordem crescente -->
                    }
                </a>
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Disponivel)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)

            </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Locador)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Avaliacao)
                </td>
            <td>
                    <a asp-action="Arrendar" asp-route-id="@item.IdHabitacoes">Arrendar</a>
                <a asp-action="DetailsDefault" asp-route-id="@item.IdHabitacoes">Detalhes</a> 
            </td>
        </tr>
}
    </tbody>
</table>
