@model PWEB_TP.ViewModels.UserRolesViewModel
<br></br>
<h2>Detalhes das Roles dos Utilizadores</h2>

<div>
    <h4>Informação dos Utilizadores</h4>
    <dl class="row">
        <dt class="col-sm-2">Primeiro Nome</dt>
        <dd class="col-sm-10">@Model.PrimeiroNome</dd>

        <dt class="col-sm-2">Último Nome</dt>
        <dd class="col-sm-10">@Model.UltimoNome</dd>

        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Model.UserName</dd>

        <dt class="col-sm-2">Roles</dt>
        <dd class="col-sm-10">@string.Join(", ", Model.Roles)</dd>
    </dl>
</div>

<div>
    <h4>Gerir Roles</h4>
    <form asp-action="Details" asp-route-userId="@Model.UserId" method="post">
        @foreach (var role in Model.AvailableRoles)
        {
            <div class="form-check">
                <input type="checkbox" class="form-check-input" name="selectedRoles" value="@role" @(Model.Roles.Contains(role) ? "checked" : "") />
                <label class="form-check-label">@role</label>
            </div>
        }

        <button type="submit" class="btn btn-primary">Guardar Alterações</button>
    </form>
</div>