@model List<PWEB_TP.ViewModels.UserRolesViewModel>

<h2>User Roles Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Manage Roles</th>
        </tr>
    </thead>
    <tbody>
@foreach (var user in Model)
{
    <tr>
        <td>@user.PrimeiroNome</td>
        <td>@user.UltimoNome</td>
        <td>@user.UserName</td>
        <td>@string.Join(", ", user.Roles)</td>
        <td>
                    <a asp-controller="UserRolesManager" asp-action="Details" asp-route-id="@user.UserId">
                <button type="button" class="w-100 btn btn-lg btn-outline-primary">Manage Roles</button>
            </a>
        </td>
    </tr>
}
    </tbody>
</table>
