@model List<PWEB_TP.ViewModels.UserRolesViewModel>

<h2>Roles dos Utilizadores</h2>
<p>
    <a asp-action="Index" asp-controller="RoleManager">Criar nova Role</a>
</p>



<table class="table">
    <thead>
        <tr>
            <th>Primeiro Nome</th>
            <th>Último Nome</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Gerir Roles</th>
        </tr>
    </thead>
    <tbody>
@foreach (var user in Model)
{
    <tr>
        <td>@user.PrimeiroNome</td>
        <td>@user.UltimoNome</td>
        <td>@user.UserName</td>
        <td>@string.Join(", ", user.Roles)</td>
        <td>
                    <a asp-controller="UserRolesManager" asp-action="Details" asp-route-userId="@user.UserId">
                <button type="button" class="w-100 btn btn-lg btn-outline-primary">Gerir Roles</button>
            </a>
        </td>
    </tr>
}
    </tbody>
</table>
