@model PWEB_TP.Models.Arrendamento

@{
    ViewData["Title"] = "Delete";
}
<br></br>
<h1>Apagar</h1>

<h3>Tem a certeza que quer apagar?</h3>
<div>
    <h4>Arrendamento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataFim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataFim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeridoMinimoArrendamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeridoMinimoArrendamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorArrendamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorArrendamento)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdArrendamentos" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
