@model IEnumerable<PWEB_TP.Models.Arrendamento>

@{
    ViewData["Title"] = "IndexArrendamento";
}

<h1>Arrendamentos</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cliente.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorArrendamento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataFim)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorArrendamento)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdArrendamentos">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdArrendamentos">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdArrendamentos">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
